services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: commodity_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./data:/commodity-tracker/data
      - ./scripts:/commodity-tracker/scripts
    networks:
      - etl-network

networks:
  etl-network:
    driver: bridge

volumes:
  pgdata: